.home-container {
    position: relative;
    background: linear-gradient(135deg, #6A11CB, #2575FC); /* Violet to Blue */
    color: white;
    /* height: 70vh; */
    padding: 80px 20px;
    text-align: center;
    overflow: hidden;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 0;
}

body{    
    font-family: "Work Sans", sans-serif;
}

.angledown{
    font-size: 50px;
    /* font-weight: lighter; */
}
.angledown svg {
    position: relative;
    color: black;
    background-color: white;
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.angledown svg:hover {
    color: black;
    transform: translateY(5px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}


 